@use '../abstracts/colors' as *;
@use '../abstracts/breakpoints' as*;

@keyframes fade-in-link {
  from {
    border-color: $color-light;
  }
  to {
    border-color: $color-dark;
  }
}

.Header__nav {
  display: flex;
  @media screen and (min-width: map-get($breakpoints, mobile)) {
    flex-grow: 1;
  }

  &--is-collapsed {
    display: none;
    @media screen and (min-width: map-get($breakpoints, mobile)) {
      display: block;
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: map-get($breakpoints, mobile)) {
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }

    padding: 0;
    margin: 0;

    li {
      width: 7rem;
      border-bottom: solid 1px $color-light;
      @media screen and (min-width: map-get($breakpoints, mobile)) {
        text-align: center;
      }
      &:hover {
        border-color: $color-dark;
        animation: fade-in-link 0.5s ease-in-out;
      }
    }

    a {
      color: $color-dark;
      padding: 0;
      display: block;
      text-decoration: none;
    }
  }
}
