### CMS - CONTENTFUL
CONTENTFUL_SPACE_ID=
CONTENTFUL_DELIVERY_API_KEY=
CONTENTFUL_ENVIRONMENT=
CONTENTFUL_WEBHOOK_HEADER_KEY=
CONTENTFUL_WEBHOOK_SECRET=

### FORMS - FORMSPREE
NEXT_PUBLIC_FORMSPREE_CONTRIBUTION_FORM_ID=

### INFRA
BASE_URL=
