$color-success: hsl(120, 50%, 50%);
$color-error: hsl(0, 50%, 50%);
$color-warning: hsl(32, 100%, 60%);

$color-red: hsla(343, 100%, 50%);

$color-grey: hsl(0, 5%, 60%);
$color-grey--medium: hsl(0, 5%, 80%);
$color-grey--light: hsl(0, 5%, 95%);

$color-light: hsl(0, 1%, 98%);

$color-dark: hsl(0, 1%, 10%);
