@use './breakpoints' as *;

@mixin hide-scrollbar-mobile-only {
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@mixin hide-horizontal-scrollbar-always {
  overflow-x: hidden;
}
