@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 599px) {
  html {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  html::-webkit-scrollbar {
    display: none;
  }
}

.ol-control {
  display: none;
}
