@use '../abstracts/breakpoints' as *;

.Blog {
  display: grid;
  grid-template:
    'title' auto
    'text' auto;

  @media screen and (min-width: map-get($breakpoints, mobile)) {
    grid-template:
      '. title  .' auto
      '. text .' auto
      / 3fr 10fr 3fr;
  }

  &__title {
    grid-area: title;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  ul {
    grid-area: text;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
