@use './../abstracts/breakpoints' as *;
@use './../abstracts/colors' as *;

.Login {
  &__container {
    padding: 1rem;
    @media screen and (min-width: map-get($breakpoints, mobile)) {
      max-width: 30%;
      border: solid 1px $color-grey--light;
      box-shadow: 0 2px 2px 0 $color-grey--light;
      border-radius: 4px;
      margin: 3rem auto;
    }
  }
  .SignInForm {
    width: 100%;
  }
  .Dev {
    width: 100%;
  }
}
