@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  -ms-overflow-style: scrollbar;
  scrollbar-width: thin;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: absolute;
}

::selection,
::-moz-selection {
  color: inherit;
  background: transparent;
}

.ol-control {
  display: none;
}

.ol-layer > canvas {
  box-sizing: border-box !important;
  border-radius: 0.5rem !important;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: rgba(243, 244, 246);
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

article ul li p {
  padding: 0 1rem !important;
  font-style: italic;
}

@media (max-width: 1024px) {
  article ul li p {
    padding: 0 !important;
    font-style: italic;
  }
}

#map {
  height: 300px;
}
main.main-with-map {
  height: 316px;
}

@media (min-width: 640px) {
  #map {
    height: 550px;
  }
  main.main-with-map {
    height: 566px;
  }
}

.nav-link {
  background-repeat: no-repeat;
  background-position: center;
  height: inherit;
  width: inherit;
}

.nav-link.nav-link-Accueil {
  background-image: var(--nav-link-Accueil);
}
.nav-link.nav-link-Accueil:hover,
.nav-link.nav-link-Accueil.nav-link--active {
  background-image: var(--nav-link-Accueil--hover);
}

.nav-link.nav-link-Carte {
  background-image: var(--nav-link-Carte);
}
.nav-link.nav-link-Carte:hover,
.nav-link.nav-link-Carte.nav-link--active {
  background-image: var(--nav-link-Carte--hover);
}

.nav-link.nav-link-Contact {
  background-image: var(--nav-link-Contact);
}
.nav-link.nav-link-Contact:hover,
.nav-link.nav-link-Contact.nav-link--active {
  background-image: var(--nav-link-Contact--hover);
}

/* prevent menu img flickering */
.preload {
  position: absolute;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  scale: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
